a {
    color: unset !important;
}
body {
    overflow-x: hidden;
}

/* nav */
nav {
  padding: 20px 60px;  
  height: 70px;
}
#navbarNav {
    margin-top: 3px;
}
.navbar-brand {
    margin-right: 0 !important;
}
#nav-links {
    margin: 0 auto;
}
.navbar-brand-box {
    width: 500px;
}
.jpmc-logo {
    width: 225px;
}
@media (max-width:1215px) {
    .navbar-brand-box {
        width: unset;
    }
}
@media (max-width:992px) {
    .navbar-brand-box {
        width: 100%;
    }
    .navbar-toggler {
        float: right;
    }
    nav {
        padding: unset;
    }
}

/* banner */
.banner {
    width: 100%;
}
.banner-overlay {
    position: absolute;
    left: 100px;
    top: 175px;
    width: 300px;
    height: 320px;
    border-radius: 3px;
    padding: 50px;
    opacity: .80;
    background-color: rgb(240, 240, 240);
}
h3 {
    opacity: 1;
}
.banner-overlay hr {
    height: 4px !important;
    width: 50px;
    opacity: 1;
    margin-bottom: 80px;
}
@media (max-width:992px) {
    .banner-overlay {
        height: max-content;
        margin: 20px auto;
        position: unset;
        opacity: 1;
        width: 400px;
    }
}

/* main content */
#main-content {
    padding-bottom: 50px;
}
.reports-section {
    padding: 50px 0;
    background-color: rgb(240, 240, 240);
}
.report-box {
    padding: 20px;
    height: 190px;
}
.report-pic {
    width: 100%;
}
.report-pic2 {
    height: 100%;
    width: 50%;
}
@media (max-width:1188px) {
    .report-box {
        padding: 20px;
        height: max-content;
    }
}
@media (max-width:768px) {
    .report {
        margin: 20px 0;
    }
}

.latest-stories {
    padding: 50px 70px;
    padding-bottom: 0;
}
.latest-stories > h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
.latest-stories h2 span { 
     background:#fff; 
     padding:0 50px; 
}
.stories {
    padding: 50px 20px;
    padding-bottom: 0;
}
.story {
    background-color: rgb(240, 240, 240);
}
.story-side-box {
    padding: 20px;
}
.story-box {
    padding-left: 20px;
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}
.stories2 {
    padding-top: 50px;
}
.full-length {
    height: 100%;
}
.hidden {
    display: none;
}
.row button {
    margin: 50px auto;
    width: unset;
}
@media (max-width:992px) {
    .latest-stories {
        padding: 50px 10px;
        padding-bottom: 0;
    }
    .stories {
        padding: 10px;
        padding-bottom: 0;
    }
    .full-length {
        margin-top: 50px;
        height: unset;
    }
    .hidden {
        display: block;
    }
    .large {
        display: none;
    }
}


/* banner2 */
.at-a-glance {
    padding: 75px 0;
    position: relative;
}
.banner-overlay2 {
    position: absolute;
    left: 445px;
    top: 15px;
    width: 370px;
    height: 485px;
    border-radius: 3px;
    padding: 50px;
    text-align: center;
    color: rgb(236, 236, 236);
    background-color: rgb(27, 42, 99);
}
.banner-overlay2 hr {
    height: 4px !important;
    width: 50px;
    opacity: 1;
    margin: 20px auto;
}
.left-text {
    text-align: left;
}
ul {
    list-style-type: circle;
}
ul li {
    margin-left: -2px;
}
.top-padding {
    padding-top: 50px;
}
.bottom-padding {
    padding-bottom: 50px;
}
@media (max-width:1188px) {
    .hide {
        display: none;
    }
    .banner-overlay2 {
        position: unset;
        margin: 0 auto;
    }
    .at-a-glance {
        padding: 20px 0;
    }
}


.impact-box {
    padding: 50px;
    background-color: rgb(27, 42, 99);
    height: 350px;
    color: rgb(236, 236, 236);
}
.our-impact .gray {
    color: black;
    background-color: rgb(240, 240, 240);
}
.our-impact hr {
    height: 4px !important;
    width: 50px;
    opacity: 1;
    margin: 20px 0;
}
.text-block {
    margin: 50px 225px;
    text-align: center;
}
.text-block2 {
    margin: 80px 225px;
    text-align: center;
}
.text-block2 button {
    margin: 0 auto;
}
@media (max-width:992px) {
    .impact-box {
        margin-bottom: 20px;
    }
}
@media (max-width:768px) {
    .text-block {
        margin: 50px 20px;
    }
    .text-block2 {
        margin: 80px 20px;
    }
}

/* banner3 */
.racial-gap {
    padding: 50px 0;
    position: relative;
}
.banner-overlay3 {
    position: absolute;
    left: 150px;
    top: 100px;
    width: 350px;
    height: 375px;
    border-radius: 3px;
    padding: 50px;
    background-color: rgb(240, 240, 240);
}
.banner-overlay3 hr {
    height: 4px !important;
    width: 50px;
    opacity: 1;
    margin: 20px 0;
}
@media (max-width:1188px) {
    .hide {
        display: none;
    }
    .banner-overlay3 {
        position: unset;
        margin: 0 auto;
        width: 370px;
    }
    .racial-gap {
        padding: unset;
        padding-top: 40px;
    }
}

/* footer */
footer {
    padding: 50px;
    background-color: rgb(46, 46, 46);
    color:rgb(236, 236, 236);
    text-align: center;
}
.footer-links {
    margin-bottom: 50px;
    text-decoration: underline;
}